<script id="nodeTemplate" type="text/html">
    <li>
        <!--<span data-bind="text: 'opened:' + opened()"></span>
        <span data-bind="text: 'checked:' + checked()"></span> -->
        <!-- ko if: $data['path'] != undefined && $data['children'] != undefined -->
            <span data-bind="text: path"></span>
        <!-- /ko -->

        <!-- ko if: $data['file'] != undefined && $data['children'] == undefined -->
            <span data-bind="text: file, click: function() {checked(!checked())}, style: {backgroundColor: checked() ? 'red' : 'blue'}"></span>
        <!-- /ko -->

        <!-- ko if: $data['children'] != undefined -->
            <ul data-bind="template: {name: 'nodeTemplate', foreach: children}"></ul>
        <!-- /ko -->
    </li>
</script>
<ul data-bind="template: {name: 'nodeTemplate', foreach: treeDataObservable}"></ul>
