<script id="nodeTemplate" type="text/html">
    <li data-bind="css: {opened: opened()}">
        <!-- ko if: $data['path'] != undefined && $data['children'] != undefined -->
            <span data-bind="text: opened() ? '-' : '+', click: function() {opened(!opened())}"></span>
            <span data-bind="text: path, click: function() {opened(!opened())}"></span>
        <!-- /ko -->

        <!-- ko if: $data['file'] != undefined && $data['children'] == undefined -->
            <span data-bind="text: file, click: function() {checked(!checked())}, style: {backgroundColor: checked() ? '#c2c2c2' : '#fff'}"></span>
        <!-- /ko -->

        <!-- ko if: $data['children'] != undefined -->
            <ul data-bind="template: {name: 'nodeTemplate', foreach: children}"></ul>
        <!-- /ko -->
    </li>
</script>
<ul data-bind="template: {name: 'nodeTemplate', foreach: treeDataObservable}"></ul>
